/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7-apr-2015, 7.25.01
    Author     : Fabio
*/
@media screen and (min-width: 768px) and (max-width: 970px){
/*    body{
        height: 650px;
    }*/
    
   .gente{
    height: 79px;
    width: 170px;
    //background-color: red;
    //border: 1px solid #000;
    position: absolute;
    background-repeat: no-repeat;
}
.gente_mobile{
    height: 135px;
    width: 119px;
   
    //background-color: red;
    //border: 1px solid #000;
    margin-left: auto ;
  margin-right: auto ;   
    background-repeat: no-repeat;
}

.name_bar{
    height: 20px;
    margin-top:78px;
    width: 170px;
    background-color: #988f86;
    //background-color: #7a3a48;
    z-index: 4;
    position: absolute;
    opacity: 0.8;
    //opacity: 0.9;
}
.people_img{
    height: 79px;
    width: 70px;
    //top: 10px;
    position: absolute;
    z-index: 3;
   
    
}
.name_bar_name{
    position: relative;
    top: 1px;
    margin-left: 10px;
    font-size: 14px;
    color: #eee;
       
}

#people_img{
    height: 79px;
    width:70px;
    filter:none;
     //filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(0%);
    
}

#cont_testo_people{
    background-color: #333;
    padding-top: 5px;
    height: 68px;
    border-right: 2px solid #eee;
}

#cont_info_people{
    background-color: #333;
    height: 68px;
    color:#fff;
    font-size: 12px;
    //margin-right: 10px;
    //width: 90%;
}


#testo_people{
    font-size: 11px;
    color: #fff;
    margin-left: 2px;
    line-height: 12px;
 }
 #testo_people1{
    font-size: 11px;
    color: #333;
    margin-left: 3px;
    
}
::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

h3{
    font-size: 21px;
    padding-right: 30%;
    color: #d70232;
}
.menu_dx_title{    
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    padding: 6px;
    background-color: #c60c30;
    text-align: right;
    margin-right: 0px;
    float:right;
    //width: 100%;
}

#menu_opere_correlate{
    margin-right: 0px;
}
#menu_altre_opere{margin-right: 0px;}
#menu_piu_interviste{margin-right: 0px;}

.box_opere_correlate{
    background-color: #909495;
    
    margin-left: 0px;
    //float: right;
    width: 100%;
    margin-top: 3px;
    height: 10%;
}
.box_opere_correlate:hover{
    background-color: #ccc;
    height: 20%;
    margin-left: 0px;
    float: right;
    width: 100%;
    margin-top: 3px;
    -moz-transition: all 0.8s ease-in;
    /* WebKit */
    -webkit-transition: all 0.8s ease-in;
    /* Opera */
    -o-transition: all 0.8s ease-in;
    /* Standard */
    transition: all 1s ease-in;
}

.box_altre_opere{
    background-color: #909495;
    height: 20%;
    margin-left: 0px;
    float: right;
    width: 100%;
    margin-top: 3px;
}
.box_altre_opere:hover{
    background-color: #ccc;
    height: 20%;
    margin-left: 0px;
    float: right;
    width: 100%;
    margin-top: 3px;
    -moz-transition: all 0.8s ease-in;
    /* WebKit */
    -webkit-transition: all 0.8s ease-in;
    /* Opera */
    -o-transition: all 0.8s ease-in;
    /* Standard */
    transition: all 1s ease-in;
}

#cont_box_altre_interviste{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 200px;
    
}

.box_altre_interviste{
    background-color: #222;
    height: 20%;
    margin-left: 0px;
    float: right;
    width: 100%;
    margin-top: 3px;
    
}
.box_altre_interviste:hover{
    background-color: #444;
    height: 20%;
    margin-left: 0px;
    float: right;
    width: 100%;
    margin-top: 3px;
    -moz-transition: all 0.8s ease-in;
    /* WebKit */
    -webkit-transition: all 0.8s ease-in;
    /* Opera */
    -o-transition: all 0.8s ease-in;
    /* Standard */
    transition: all 1s ease-in;
}


#nome_luogo{
    color: #fff;
    font-size: 11px;
    line-height: 12px;
    padding-top: 10px;
    float: left;
    text-align: left;
    //font-weight: bold;
}
#luogo_nome{
    color: #fff;
    width: 150px;
    font-size: 11px;
    line-height: 0.9;
    padding-top: 5px;
    float: left;
    padding-bottom: 2px;
    //font-weight: bold;
}

#nome_luogo1{
    color: #fff;
    font-size: 16px;
    line-height: 15px;
    padding-top: 10px;
    float: left;
    //font-weight: bold;
}
#luogo_nome1{
    color: #fff;
    font-size: 14px;
    line-height: 0.8;
    padding-top: 10px;
    float: left;
    //font-weight: bold;
}

.modal.modal-fullscreen .modal-content {
    background: rgba(171, 171, 171, .7);
    
  }
  
  .modal.modal-fullscreen .modal-dialog {
    border: 0;
    color: #fff;
    width: 70%;
  }
  
  .modal.modal-fullscreen .modal-header {
    border: 0;
    color: #fff;
  }
  
  .modal.modal-fullscreen .modal-body{
    border: 0;
    color: #fff;
  }
  
  .modal.modal-fullscreen .modal-footer {
    border-color: rgba(205, 205, 205, .5);
  }
  
  h5{
      font-size: 11px;
      color:#fff;
      font-weight: 300;
  }
  
  #testi_build{
      font-size: 15px;
      color:#333;
      font-weight: 300;
  }
  
  h4{
      font-size: 15px;
      color:#333;
      font-weight: 400;
      text-transform: uppercase;
  }
  
  .wordContainer{
      top: 200px;
      margin-left:200px;
      height: 200px;
      width: 370px;
      //background-color: #d70232;
      position: absolute;
  }
  #wordText{
      font-family: 'Roboto ','HelveticaSalini',sans-serif;
      font-size: 17px;
      opacity: 0.9;
      padding: 3px;
      opacity: 0.3;
      font-weight: 300;
      cursor: pointer;
      margin: 7px;
      
  }
  #wordText:hover{
      font-family: 'Roboto ','HelveticaSalini',sans-serif;
      opacity: 1;
      cursor: pointer;
      font-size: 21px;
      color: #c60c30;
  }
  
  #pa_name{
      width: 100%;
      float: left;
      //height: 15px;
  }
  #langText{
      color:white;
      margin-top: 10px;
      margin-left: 4px;
  }
  #langText:hover{
      font-family: 'Roboto ','HelveticaSalini',sans-serif;
      color: #c60c30;
      text-decoration: none;
      transition-duration: 1.5s;
  }

}
 body {
    font-family: 'HelveticaSalini', sans-serif;
    background-image: url("../img/homebg1.jpg");
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
   // background-repeat: no-repeat;
    //background-attachment: fixed;
   // background-size: cover;//100% ;//100%
    margin-top: 15px;
}

@font-face {
   font-family: 'HelveticaSalini';
   src: url(../fonts/Flaticon_Converted_Font/helveticaneueltstd-lt.eot?);
   src: url(../fonts/Flaticon_Converted_Font/helveticaneueltstd-lt.woff) format ('woff');
   src: local('HelveticaSalini'), url('../fonts/Flaticon_Converted_Font/helveticaneueltstd-lt.ttf') format('truetype');
}
@font-face {
   font-family: 'HelveticaSaliniBd';
   src: url(../fonts/Flaticon_Converted_Bd/helveticaneueltstd-bd.eot?);
   src: local('HelveticaSaliniBd'), url('../fonts/Flaticon_Converted_Bd/helveticaneueltstd-bd.ttf') format('truetype');
}


body {
    font-family: 'HelveticaSalini', sans-serif;
    background-image: url("../img/homebg1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;//100% ;//100%
    margin-top: 15px;
}

@media screen and (min-width: 970px) {
.draggable {
  background-color:yellow;
}
.gente{
    height: 100px;
    width: 215px;
    //background-color: red;
    //border: 1px solid #000;
    position: absolute;
    background-repeat: no-repeat;
}
.gente_mobile{
    height: 135px;
    width: 215px;
   
    //background-color: red;
    //border: 1px solid #000;
    margin-left: auto ;
  margin-right: auto ;   
    background-repeat: no-repeat;
}
.name_bar{
    height: 24px;
    margin-top:100px;
    width: 215px;
    background-color: #988f86;
    //background-color: #7a3a48;
    z-index: 4;
    position: absolute;
    opacity: 0.8;
    //opacity: 0.9;
}
.people_img{
    height: 100px;
    width: 89px;
    //top: 10px;
    position: absolute;
    z-index: 3;
   
    
}
.name_bar_name{
    position: relative;
    top: 1px;
    margin-left: 10px;
    font-size: 15px;
    color: #eee;
       
}

#people_img{
    height: 100px;
    width:89px;
    filter:none;
     //filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(0%);
    
}

#cont_testo_people{
    background-color: #333;
    padding-top: 5px;
    height: 68px;
    border-right: 4px solid #eee;
}

#cont_info_people{
    background-color: #333;
    height: 68px;
    color:#fff;
    font-size: 12px;
    //margin-right: 10px;
    //width: 90%;
}


#testo_people{
    font-size: 13px;
    color: #fff;
    margin-left: 5px;
 }
 #testo_people1{
    font-size: 13px;
    color: #333;
    margin-left: 5px;
    
}
::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

h3{
    font-size: 21px;
    padding-right: 30%;
    color: #d70232;
}
.menu_dx_title{    
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    padding: 6px;
    background-color: #c60c30;
    text-align: right;
    margin-right: 0px;
    float:right;
    //width: 100%;
}

.box_opere_correlate{
    background-color: #909495;
    
    margin-left: 0px;
    //float: right;
    width: 100%;
    margin-top: 3px;
    height: 10%;
}
.box_opere_correlate:hover{
    background-color: #ccc;
    height: 20%;
    margin-left: 0px;
    float: right;
    width: 100%;
    margin-top: 3px;
    -moz-transition: all 0.8s ease-in;
    /* WebKit */
    -webkit-transition: all 0.8s ease-in;
    /* Opera */
    -o-transition: all 0.8s ease-in;
    /* Standard */
    transition: all 1s ease-in;
}

.box_altre_opere{
    background-color: #909495;
    height: 20%;
    margin-left: 0px;
    float: right;
    width: 100%;
    margin-top: 3px;
}
.box_altre_opere:hover{
    background-color: #ccc;
    height: 20%;
    margin-left: 0px;
    float: right;
    width: 100%;
    margin-top: 3px;
    -moz-transition: all 0.8s ease-in;
    /* WebKit */
    -webkit-transition: all 0.8s ease-in;
    /* Opera */
    -o-transition: all 0.8s ease-in;
    /* Standard */
    transition: all 1s ease-in;
}

#cont_box_altre_interviste{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 200px;
    
}

.box_altre_interviste{
    background-color: #222;
    height: 20%;
    margin-left: 0px;
    float: right;
    width: 100%;
    margin-top: 3px;
    
}
.box_altre_interviste:hover{
    background-color: #444;
    height: 20%;
    margin-left: 0px;
    float: right;
    width: 100%;
    margin-top: 3px;
    -moz-transition: all 0.8s ease-in;
    /* WebKit */
    -webkit-transition: all 0.8s ease-in;
    /* Opera */
    -o-transition: all 0.8s ease-in;
    /* Standard */
    transition: all 1s ease-in;
}


#nome_luogo{
    color: #fff;
    font-size: 16px;
    line-height: 15px;
    padding-top: 10px;
    float: left;
    text-align: left;
    //font-weight: bold;
}
#luogo_nome{
    color: #fff;
    width: 150px;
    font-size: 14px;
    line-height: 0.9;
    padding-top: 10px;
    float: left;
    padding-bottom: 2px;
    //font-weight: bold;
}

#nome_luogo1{
    color: #fff;
    font-size: 16px;
    line-height: 15px;
    padding-top: 10px;
    float: left;
    //font-weight: bold;
}
#luogo_nome1{
    color: #fff;
    font-size: 14px;
    line-height: 0.8;
    padding-top: 10px;
    float: left;
    //font-weight: bold;
}

.modal.modal-fullscreen .modal-content {
    background: rgba(171, 171, 171, .7);
    
  }
  
  .modal.modal-fullscreen .modal-dialog {
    border: 0;
    color: #fff;
    width: 70%;
  }
  
  .modal.modal-fullscreen .modal-header {
    border: 0;
    color: #fff;
  }
  
  .modal.modal-fullscreen .modal-body{
    border: 0;
    color: #fff;
  }
  
  .modal.modal-fullscreen .modal-footer {
    border-color: rgba(205, 205, 205, .5);
  }
  
  h5{
      font-size: 11px;
      color:#fff;
      font-weight: 300;
  }
  
  #testi_build{
      font-size: 15px;
      color:#333;
      font-weight: 300;
  }
  
  h4{
      font-size: 15px;
      color:#333;
      font-weight: 400;
      text-transform: uppercase;
  }
  
  .wordContainer{
      top: 280px;
      margin-left:350px;
      height: 200px;
      width: 470px;
      //background-color: #d70232;
      position: absolute;
  }
  #wordText{
      font-family: 'Roboto ','HelveticaSalini',sans-serif;
      font-size: 22px;
      opacity: 0.9;
      padding: 3px;
      opacity: 0.3;
      font-weight: 300;
      cursor: pointer;
      margin: 7px;
      
  }
  #wordText:hover{
      font-family: 'Roboto ','HelveticaSalini',sans-serif;
      opacity: 1;
      cursor: pointer;
      font-size: 26px;
      color: #c60c30;
  }
  
  #pa_name{
      width: 100%;
      float: left;
      //height: 15px;
  }
  #langText{
      color:white;
      margin-top: 10px;
      margin-left: 4px;
  }
  #langText:hover{
      font-family: 'Roboto ','HelveticaSalini',sans-serif;
      color: #c60c30;
      text-decoration: none;
      transition-duration: 1.5s;
  }
}
@media screen and (max-width: 768px) {
.draggable {
  background-color:yellow;
}
.gente{
    height: 100px;
    width: 215px;
    //background-color: red;
    //border: 1px solid #000;
    position: absolute;
    background-repeat: no-repeat;
}
.gente_mobile{
    height: 135px;
    width: 215px;
   
    //background-color: red;
    //border: 1px solid #000;
    margin-left: auto ;
  margin-right: auto ;   
    background-repeat: no-repeat;
}
.name_bar{
    height: 24px;
    margin-top:100px;
    width: 215px;
    background-color: #988f86;
    //background-color: #7a3a48;
    z-index: 4;
    position: absolute;
    opacity: 0.8;
    //opacity: 0.9;
}
.people_img{
    height: 100px;
    width: 89px;
    //top: 10px;
    position: absolute;
    z-index: 3;
   
    
}
.name_bar_name{
    position: relative;
    top: 1px;
    margin-left: 10px;
    font-size: 15px;
    color: #eee;
       
}

#people_img{
    height: 100px;
    width:89px;
    filter:none;
     //filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(0%);
    
}

#cont_testo_people{
    background-color: #333;
    padding-top: 5px;
    height: 68px;
    border-right: 4px solid #eee;
}

#cont_info_people{
    background-color: #333;
    height: 68px;
    color:#fff;
    font-size: 12px;
    //margin-right: 10px;
    //width: 90%;
}


#testo_people{
    font-size: 13px;
    color: #fff;
    margin-left: 5px;
 }
 #testo_people1{
    font-size: 13px;
    color: #333;
    margin-left: 5px;
    
}
::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

h3{
    font-size: 21px;
    padding-right: 30%;
    color: #d70232;
}
.menu_dx_title{    
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    padding: 6px;
    background-color: #c60c30;
    text-align: right;
    margin-right: 0px;
    float:right;
    //width: 100%;
}

.box_opere_correlate{
    background-color: #909495;
    
    margin-left: 0px;
    //float: right;
    width: 100%;
    margin-top: 3px;
    height: 10%;
}
.box_opere_correlate:hover{
    background-color: #ccc;
    height: 20%;
    margin-left: 0px;
    float: right;
    width: 100%;
    margin-top: 3px;
    -moz-transition: all 0.8s ease-in;
    /* WebKit */
    -webkit-transition: all 0.8s ease-in;
    /* Opera */
    -o-transition: all 0.8s ease-in;
    /* Standard */
    transition: all 1s ease-in;
}

.box_altre_opere{
    background-color: #909495;
    height: 20%;
    margin-left: 0px;
    float: right;
    width: 100%;
    margin-top: 3px;
}
.box_altre_opere:hover{
    background-color: #ccc;
    height: 20%;
    margin-left: 0px;
    float: right;
    width: 100%;
    margin-top: 3px;
    -moz-transition: all 0.8s ease-in;
    /* WebKit */
    -webkit-transition: all 0.8s ease-in;
    /* Opera */
    -o-transition: all 0.8s ease-in;
    /* Standard */
    transition: all 1s ease-in;
}

#cont_box_altre_interviste{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 200px;
    
}

.box_altre_interviste{
    background-color: #222;
    height: 20%;
    margin-left: 0px;
    float: right;
    width: 100%;
    margin-top: 3px;
    
}
.box_altre_interviste:hover{
    background-color: #444;
    height: 20%;
    margin-left: 0px;
    float: right;
    width: 100%;
    margin-top: 3px;
    -moz-transition: all 0.8s ease-in;
    /* WebKit */
    -webkit-transition: all 0.8s ease-in;
    /* Opera */
    -o-transition: all 0.8s ease-in;
    /* Standard */
    transition: all 1s ease-in;
}


#nome_luogo{
    color: #fff;
    font-size: 16px;
    line-height: 15px;
    padding-top: 10px;
    float: left;
    text-align: left;
    //font-weight: bold;
}
#luogo_nome{
    color: #fff;
    width: 150px;
    font-size: 14px;
    line-height: 0.9;
    padding-top: 10px;
    float: left;
    padding-bottom: 2px;
    //font-weight: bold;
}

#nome_luogo1{
    color: #fff;
    font-size: 16px;
    line-height: 15px;
    padding-top: 10px;
    float: left;
    //font-weight: bold;
}
#luogo_nome1{
    color: #fff;
    font-size: 14px;
    line-height: 0.8;
    padding-top: 10px;
    float: left;
    //font-weight: bold;
}

.modal.modal-fullscreen .modal-content {
    background: rgba(171, 171, 171, .7);
    
  }
  
  .modal.modal-fullscreen .modal-dialog {
    border: 0;
    color: #fff;
    width: 70%;
  }
  
  .modal.modal-fullscreen .modal-header {
    border: 0;
    color: #fff;
  }
  
  .modal.modal-fullscreen .modal-body{
    border: 0;
    color: #fff;
  }
  
  .modal.modal-fullscreen .modal-footer {
    border-color: rgba(205, 205, 205, .5);
  }
  
  h5{
      font-size: 11px;
      color:#fff;
      font-weight: 300;
  }
  
  #testi_build{
      font-size: 15px;
      color:#333;
      font-weight: 300;
  }
  
  h4{
      font-size: 15px;
      color:#333;
      font-weight: 400;
      text-transform: uppercase;
  }
  
  .wordContainer{
      top: 280px;
      margin-left:350px;
      height: 200px;
      width: 470px;
      //background-color: #d70232;
      position: absolute;
  }
  #wordText{
      font-family: 'Roboto ','HelveticaSalini',sans-serif;
      font-size: 22px;
      opacity: 0.9;
      padding: 3px;
      opacity: 0.3;
      font-weight: 300;
      cursor: pointer;
      margin: 7px;
      
  }
  #wordText:hover{
      font-family: 'Roboto ','HelveticaSalini',sans-serif;
      opacity: 1;
      cursor: pointer;
      font-size: 26px;
      color: #c60c30;
  }
  
  #pa_name{
      width: 100%;
      float: left;
      //height: 15px;
  }
  #langText{
      color:white;
      margin-top: 10px;
      margin-left: 4px;
  }
  #langText:hover{
      font-family: 'Roboto ','HelveticaSalini',sans-serif;
      color: #c60c30;
      text-decoration: none;
      transition-duration: 1.5s;
  }
}